<section class="about" id="about">
	<div class="container grid-container">
		<div class="about__content">
			<h2 class="about__title title-style">About Us</h2>
			<p class="about__descr text-style">
				As development continues, engineers may visit building destinations to guarantee that temporary workers pursue the plan, keep to the timetable, utilize the predefined materials, and meet work-quality models.
			</p>
		</div>
		<div class="about__info">
			<div class="about__info-content">
				<span class="about__value">85</span>
				<span class="about__value-percent">%</span>
				<div class="about__notes">
					<span class="about__text">Satisfied</span>
					<span class="about__text">Clients</span>
				</div>
			</div>
			<div class="about__info-visual">
				<picture>
					<source type="image/webp" srcset="./img/about/design-work-3.webp 1x, ./img/about/design-work-3@2x.webp 2x, ./img/about/design-work-3@3x.webp 3x" />
					<img class="about__img" src="./img/about/design-work-3.jpg" width="408" height="175" alt="Design example" />
				</picture>
				<a href="#promo" class="about__link logo-link-style">
					Lets Work Together
					<svg class="about__icon" width="140" height="140">
						<use xlink:href="/icons/svg_sprite/sprite.svg#text-circle"></use>
					</svg>
				</a>
			</div>
		</div>
		<div class="about__images">
			<picture class="about__img-bottom">
				<source type="image/webp" srcset="./img/about/design-work-2.webp 1x, ./img/about/design-work-2@2x.webp 2x, ./img/about/design-work-2@3x.webp 3x" />
				<img class="about__img" src="./img/about/design-work-2.jpg" width="300" height="500" alt="Design example" />
			</picture>
			<picture>
				<source type="image/webp" srcset="./img/about/design-work-1.webp 1x, ./img/about/design-work-1@2x.webp 2x, ./img/about/design-work-1@3x.webp 3x" />
				<img class="about__img" src="./img/about/design-work-1.jpg" width="300" height="500" alt="Design example" />
			</picture>
		</div>
	</div>
</section>
