//- script(type="module", async, src="./js/swiper-bundle.esm.browser.min.js")

- var scriptPath = "./js/";

-
    var scripts = {
        vendor: "vendor.min.js",
        main: "main.min.js",
    }

each script in scripts
    if script
        script(defer, src=`${scriptPath}${script}`)
