@mixin font-face($font-family, $file-path, $weight: normal) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		display: swap;
		src: local($font-family), url("#{$file-path}.woff2") format("woff2"), url("#{$file-path}.woff") format("woff");
	}
}
