section.price#price
	.container.price__inner
		.price__top
			.price__content
				span.price__notes.decor-text-style Our project
				h2.price__title.title-style Check Availability
			p.price__descr.text-style
				| The unique architect with ideas from outside the world. Where design and
				| science meet. With people’s comfort in mind
		.price__body
			table.price__table
				thead.price__table-head
					tr
						th Residence
						th Bed/bath
						th SQ. FT.
						th Sale price
						th Rent price
						th Floor plan
				tbody.price__table-body.text-style
					tr.price__table-row
						td Lux apartment
						td 3/2
						td 110
						td $350,000
						td $2,500
						td View now
					tr.price__table-row
						td The green villa
						td 3/3
						td 1120
						td $194,000
						td $3,500
						td View now
					tr.price__table-row
						td Penthouse
						td 3/3
						td 320
						td $240,000
						td $2,500
						td View now
					tr.price__table-row
						td Spa luxury
						td 3/3
						td 520
						td $540,000
						td $9,000
						td View now
					tr.price__table-row
						td Duplex 13a
						td 3/3
						td 50
						td $150,000
						td $1,900
						td View now
					tr.price__table-row
						td Studio 8a
						td 3/2
						td 99
						td $50,000
						td $900
						td View now
					tr.price__table-row
						td Simplex 12a8
						td 3/3
						td 100
						td $120,000
						td $1,000
						td View now
			.price__box
				picture
					source(type="image/webp", srcset="./img/price/interior.webp, ./img/price/interior@2x.webp 2x, ./img/price/interior@3x.webp 3x", media="(min-width: 1024px)")
					img.price__img(src="./img/price/interior.webp", loading="lazy", width="410", height="500", alt="Interior")