@media (max-width: 1100px){
    .price {
        &__body {
            justify-content: center;
        }

        &__img {
            display: none;
        }
    }
}

@media (max-width: 950px){
    .price {
        &__top {
            align-items: flex-start;
            flex-direction: column;
        }
    }
}

@media (max-width: 768px){
    .price {
        &__body {
            display: block;
            width: 100%;
            overflow-x: scroll;
        }

        &__table {
            width: 700px;
        }
    }
}