<section class="price" id="price">
	<div class="container price__inner">
		<div class="price__top">
			<div class="price__content">
				<span class="price__notes decor-text-style">Our project</span>
				<h2 class="price__title title-style">Check Availability</h2>
			</div>
			<p class="price__descr text-style">The unique architect with ideas from outside the world. Where design and science meet. With people’s comfort in mind</p>
		</div>
		<div class="price__body">
			<table class="price__table">
				<thead class="price__table-head">
					<tr>
						<th>Residence</th>
						<th>Bed/bath</th>
						<th>SQ. FT.</th>
						<th>Sale price</th>
						<th>Rent price</th>
						<th>Floor plan</th>
					</tr>
				</thead>
				<tbody class="price__table-body text-style">
					<tr class="price__table-row">
						<td>Lux apartment</td>
						<td>3/2</td>
						<td>110</td>
						<td>$350,000</td>
						<td>$2,500</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>The green villa</td>
						<td>3/3</td>
						<td>1120</td>
						<td>$194,000</td>
						<td>$3,500</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>Penthouse</td>
						<td>3/3</td>
						<td>320</td>
						<td>$240,000</td>
						<td>$2,500</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>Spa luxury</td>
						<td>3/3</td>
						<td>520</td>
						<td>$540,000</td>
						<td>$9,000</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>Duplex 13a</td>
						<td>3/3</td>
						<td>50</td>
						<td>$150,000</td>
						<td>$1,900</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>Studio 8a</td>
						<td>3/2</td>
						<td>99</td>
						<td>$50,000</td>
						<td>$900</td>
						<td>View now</td>
					</tr>
					<tr class="price__table-row">
						<td>Simplex 12a8</td>
						<td>3/3</td>
						<td>100</td>
						<td>$120,000</td>
						<td>$1,000</td>
						<td>View now</td>
					</tr>
				</tbody>
			</table>
			<img class="price__img" src="./img/price/interior.webp" width="410" height="500" alt="Interior" />
		</div>
	</div>
</section>
