<div class="gallery">
	<div class="container gallery__inner">
		<picture>
			<source type="image/webp" srcset="./img/gallery/gallery-photo-1.webp 1x, ./img/gallery/gallery-photo-1@2x.webp 2x, ./img/gallery/gallery-photo-1@3x.webp 3x" />
			<img class="gallery__img" src="./img/gallery/gallery-photo.jpg" width="258" height="350" alt="Photo" />
		</picture>
		<picture>
			<source type="image/webp" srcset="./img/gallery/gallery-photo-2.webp 1x, ./img/gallery/gallery-photo-2@2x.webp 2x, ./img/gallery/gallery-photo-2@3x.webp 3x" />
			<img class="gallery__img" src="./img/gallery/gallery-photo.jpg" width="258" height="350" alt="Photo" />
		</picture>
		<picture>
			<source type="image/webp" srcset="./img/gallery/gallery-photo-3.webp 1x, ./img/gallery/gallery-photo-3@2x.webp 2x, ./img/gallery/gallery-photo-3@3x.webp 3x" />
			<img class="gallery__img" src="./img/gallery/gallery-photo.jpg" width="258" height="350" alt="Photo" />
		</picture>
		<picture>
			<source type="image/webp" srcset="./img/gallery/gallery-photo-4.webp 1x, ./img/gallery/gallery-photo-4@2x.webp 2x, ./img/gallery/gallery-photo-4@3x.webp 3x" />
			<img class="gallery__img" src="./img/gallery/gallery-photo.jpg" width="258" height="350" alt="Photo" />
		</picture>
		<picture>
			<source type="image/webp" srcset="./img/gallery/gallery-photo-5.webp 1x, ./img/gallery/gallery-photo-5@2x.webp 2x, ./img/gallery/gallery-photo-5@3x.webp 3x" />
			<img class="gallery__img" src="./img/gallery/gallery-photo.jpg" width="258" height="350" alt="Photo" />
		</picture>
	</div>
</div>
