extends ./default/_default

block hero-content
    include ./components/header/header
    include ./components/hero/hero

block main-content
    include ./components/about/about
    include ./components/services/services
    include ./components/projects/projects
    include ./components/promo/promo
    include ./components/price/price
    include ./components/team/team
    include ./components/gallery/gallery

block footer-content
    include ./components/footer/footer