<section class="team" id="team">
	<div class="container">
		<span class="team__notes decor-text-style">Our team</span>
		<h2 class="team__title title-style">Meet With Our Team</h2>
		<img class="team__photo" src="./img/team/team-photo.webp" width="1290" height="649" alt="Team photo" />
		<dl class="team__people">
			<div class="team__item">
				<dt class="team__name">Cody Fisher</dt>
				<dd class="team__position">Ceo</dd>
			</div>
			<div class="team__item">
				<dt class="team__name">Savannah Nguyen</dt>
				<dd class="team__position">Interior architect</dd>
			</div>
			<div class="team__item">
				<dt class="team__name">Jerome Bell</dt>
				<dd class="team__position">Interior</dd>
			</div>
			<div class="team__item">
				<dt class="team__name">Cameron Williamson</dt>
				<dd class="team__position">Architect</dd>
			</div>
			<div class="team__item">
				<dt class="team__name">Marvin McKinney</dt>
				<dd class="team__position">Construction head</dd>
			</div>
		</dl>
	</div>
</section>
