section.promo#promo
	.container.promo__inner
		.promo__box
			+svg("plane", "promo__icon", 558, 480)
		.promo__content
			h2.promo__title.title-style We Create Digital Experience
			dl.promo__info
				.promo__item
					dt.promo__key.text-style Architecture
					dd.promo__value
						| 75
						span.promo__value-percent %
				.promo__item
					dt.promo__key.text-style Construction
					dd.promo__value
						| 85
						span.promo__value-percent %
				.promo__item
					dt.promo__key.text-style Interior Design
					dd.promo__value
						| 65
						span.promo__value-percent %
			a.promo__link.btn-style(href="#team") Lets work together