<section class="promo" id="promo">
	<div class="container promo__inner">
		<div class="promo__box">
			<img src="./icons/plane.svg" width="558" height="480" alt="Plane construction" class="promo__icon" />
		</div>
		<div class="promo__content">
			<h2 class="promo__title title-style">We Create Digital Experience</h2>
			<dl class="promo__info">
				<div class="promo__item">
					<dt class="promo__key text-style">Architecture</dt>
					<dd class="promo__value">75<span class="promo__value-percent">%</span>
					</dd>
				</div>
				<div class="promo__item">
					<dt class="promo__key text-style">Construction</dt>
					<dd class="promo__value">
						85<span class="promo__value-percent">%</span>
					</dd>
				</div>
				<div class="promo__item">
					<dt class="promo__key text-style">Interior Design</dt>
					<dd class="promo__value">
						65<span class="promo__value-percent">%</span>
					</dd>
				</div>
			</dl>
			<a href="#team" class="promo__link btn-style">Lets work together</a>
		</div>
	</div>
</section>
