footer.footer#footer
	.container.footer__inner
		.footer__left-block
			a.footer__logo-link.logo-link-style(href="#") Rmc
			p.footer__text.text-style
				| Take a look at how we designed this housesimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
		.footer__right-block
			.footer__contact
				span.footer__decor-text.title-style Visit
				address.footer__address.text-style Logan Barker, 865 Oak Boulevard, Elk Grove, Vermont 95184
			.footer__phone
				span.footer__decor-text.title-style Call
				a.footer__phone-link.link-style(href="tel:+01761531774") 017-6153-1774
	.footer__copyright
		span.footer__copyright-info.text-style
			| © Copyright 2023 Email:
			a.footer__copyright-link(href="mailto:Asibulasik@gmail.com") Asiawgbulasik231@gmail.com