<footer class="footer" id="footer">
	<div class="container footer__inner">
		<div class="footer__left-block">
			<a href="#" class="footer__logo-link logo-link-style">Rmc</a>
			<p class="footer__text text-style">Take a look at how we designed this housesimply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
		</div>
		<div class="footer__right-block">
			<div class="footer__contact">
				<span class="footer__decor-text title-style">Visit</span>
				<address class="footer__address text-style">Logan Barker, 865 Oak Boulevard, Elk Grove, Vermont 95184</address>
			</div>
			<div class="footer__phone">
				<span class="footer__decor-text title-style">Call</span>
				<a href="tel:+01761531774" class="footer__phone-link link-style">017-6153-1774</a>
			</div>
		</div>
	</div>
	<div class="footer__copyright">
		<span class="footer__copyright-info text-style">
			© Copyright 2023 Email:
			<a href="mailto:Asibulasik@gmail.com" class="footer__copyright-link">Asiawgbulasik231@gmail.com</a>
		</span>
	</div>
</footer>
