<section class="services" id="services">
	<div class="container">
		<span class="services__notes decor-text-style">Top services</span>
		<h2 class="services__title title-style">Our Specializations</h2>
		<div class="services__inner">
			<article class="services__item">
				<picture>
					<source
						type="image/webp"
						srcset="
							./img/services/work_example-1.webp,
							./img/services/work_example-1@2x.webp 2x,
							./img/services/work_example-1@3x.webp 3x
						"
						media="(min-width: 1024px)"
					/>
					<img
						class="services__img"
						src="./img/services/work_example-1.webp"
						loading="lazy"
						width="300"
						height="500"
						alt="Works"
					/>
				</picture>
				<div class="services__content">
					<h3 class="services__title title-section-style">Floor plan</h3>
					<p class="services__descr text-style">
						Transform your home with our stylish floor coverings
					</p>
				</div>
			</article>
			<article class="services__item">
				<picture>
					<source
						type="image/webp"
						srcset="
							./img/services/work_example-2.webp,
							./img/services/work_example-2@2x.webp 2x,
							./img/services/work_example-2@3x.webp 3x
						"
						media="(min-width: 1024px)"
					/>
					<img
						class="services__img"
						src="./img/services/work_example-2.webp"
						loading="lazy"
						width="300"
						height="500"
						alt="Works"
					/>
				</picture>
				<div class="services__content">
					<h3 class="services__title title-section-style">Interior Design</h3>
					<p class="services__descr text-style">
						Bring your dreams to life with interior design
					</p>
				</div>
			</article>
			<article class="services__item">
				<picture>
					<source
						type="image/webp"
						srcset="
							./img/services/work_example-3.webp,
							./img/services/work_example-3@2x.webp 2x,
							./img/services/work_example-3@3x.webp 3x
						"
						media="(min-width: 1024px)"
					/>
					<img
						class="services__img"
						src="./img/services/work_example-3.webp"
						loading="lazy"
						width="300"
						height="500"
						alt="Works"
					/>
				</picture>
				<div class="services__content">
					<h3 class="services__title title-section-style">
						Architecture Design
					</h3>
					<p class="services__descr text-style">
						Creating architectural masterpieces with a love
					</p>
				</div>
			</article>
			<article class="services__item">
				<picture>
					<source
						type="image/webp"
						srcset="
							./img/services/work_example-4.webp,
							./img/services/work_example-4@2x.webp 2x,
							./img/services/work_example-4@3x.webp 3x
						"
						media="(min-width: 1024px)"
					/>
					<img
						class="services__img"
						src="./img/services/work_example-4.webp"
						loading="lazy"
						width="300"
						height="500"
						alt="Works"
					/>
				</picture>
				<div class="services__content">
					<h3 class="services__title title-section-style">Construction</h3>
					<p class="services__descr text-style">
						The perfect design ensures your safety and comfort
					</p>
				</div>
			</article>
		</div>
	</div>
</section>
