<header class="header">
	<div class="hero__container header__inner">
		<a href="index.html" class="header__logo-link logo-link-style">Rmc</a>
		<nav class="header__nav">
			<ul class="header__list">
				<li class="header__item">
					<a href="#about" class="header__link link-style">The studio</a>
				</li>
				<li class="header__item">
					<a href="#services" class="header__link link-style">Services</a>
				</li>
				<li class="header__item">
					<a href="#projects" class="header__link link-style">Projects</a>
				</li>
				<li class="header__item">
					<a href="#team" class="header__link link-style">Team</a>
				</li>
				<li class="header__item">
					<a href="#footer" class="header__link link-style">Contacts</a>
				</li>
			</ul>
		</nav>
		<button class="header__btn btn-style">Contact</button>
		<div class="header__contacts">
			<div class="header__phone">
				<span class="header__decor-text title-style">Call</span>
				<a href="tel:+01761531774" class="header__phone-link link-style">017-6153-1774</a>
			</div>
			<div class="header__contact-info">
				<span class="header__decor-text title-style">Visit</span>
				<address class="header__address text-style">Logan Barker, 865 Oak Boulevard, Elk Grove, Vermont 95184</address>
			</div>
			<button type="button" class="header__close">
				<svg class="header__close-icon" width="20" height="20">
					<use xlink:href="./icons/svg_sprite/sprite.svg#close"></use>
				</svg>
			</button>
		</div>
		@@include("../burger/burger.html")
	</div>
</header>
