section.projects#projects
	.container
		.tabs
			.projects__inner
				.projects__content
					span.projects__notes.decor-text-style Our project
					h2.projects__title.title-style Our Latest Projects
				nav.tabs__nav
					button.tabs__btn.tabs-btn-style.tabs-btn-style--active(type="button")
						| All
					button.tabs__btn.tabs-btn-style(type="button")
						| Architecture
					button.tabs__btn.tabs-btn-style(type="button")
						| Construction
					button.tabs__btn.tabs-btn-style(type="button")
						| Interior Design
			.tabs__wrapper
				ul.tabs__content.tabs__content--active
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-1@2x.webp 2x,\
							./img/projects/All/projects-example-1@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-1.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-2@2x.webp 2x,\
							./img/projects/All/projects-example-2@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-2.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-3@2x.webp 2x,\
							./img/projects/All/projects-example-3@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-3.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-4@2x.webp 2x,\
							./img/projects/All/projects-example-4@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-4.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-5@2x.webp 2x,\
							./img/projects/All/projects-example-5@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-5.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-6@2x.webp 2x,\
							./img/projects/All/projects-example-6@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-6.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-7@2x.webp 2x,\
							./img/projects/All/projects-example-7@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-7.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/All/projects-example-8@2x.webp 2x,\
							./img/projects/All/projects-example-8@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/All/projects-example-8.webp" loading="lazy" width="300" height="500" alt="Design example")
				ul.tabs__content
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-1@2x.webp 2x,\
							./img/projects/Architecture/architecture-1@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-1.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-2@2x.webp 2x,\
							./img/projects/Architecture/architecture-2@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-2.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-3@2x.webp 2x,\
							./img/projects/Architecture/architecture-3@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-3.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-4@2x.webp 2x,\
							./img/projects/Architecture/architecture-4@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-4.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-5@2x.webp 2x,\
							./img/projects/Architecture/architecture-5@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-5.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-6@2x.webp 2x,\
							./img/projects/Architecture/architecture-6@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-6.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-7@2x.webp 2x,\
							./img/projects/Architecture/architecture-7@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-7.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Architecture/architecture-8@2x.webp 2x,\
							./img/projects/Architecture/architecture-8@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Architecture/architecture-8.webp" loading="lazy" width="300" height="500" alt="Design example")
				ul.tabs__content
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-1@2x.webp 2x,\
							./img/projects/Construction/construction-1@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-1.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-2@2x.webp 2x,\
							./img/projects/Construction/construction-2@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-2.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-3@2x.webp 2x,\
							./img/projects/Construction/construction-3@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-3.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-4@2x.webp 2x,\
							./img/projects/Construction/construction-4@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-4.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-5@2x.webp 2x,\
							./img/projects/Construction/construction-5@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-5.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-6@2x.webp 2x,\
							./img/projects/Construction/construction-6@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-6.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-7@2x.webp 2x,\
							./img/projects/Construction/construction-7@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-7.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Construction/construction-8@2x.webp 2x,\
							./img/projects/Construction/construction-8@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Construction/construction-8.webp" loading="lazy" width="300" height="500" alt="Design example")
				ul.tabs__content
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-1@2x.webp 2x,\
							./img/projects/Design/design-1@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-1.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-2@2x.webp 2x,\
							./img/projects/Design/design-2@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-2.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-3@2x.webp 2x,\
							./img/projects/Design/design-3@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-3.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-4@2x.webp 2x,\
							./img/projects/Design/design-4@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-4.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-5@2x.webp 2x,\
							./img/projects/Design/design-5@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-5.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-6@2x.webp 2x,\
							./img/projects/Design/design-6@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-6.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-7@2x.webp 2x,\
							./img/projects/Design/design-7@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-7.webp" loading="lazy" width="300" height="500" alt="Design example")
					li.tabs__item
						picture
							source(type="image/webp" srcset="\
							./img/projects/Design/design-8@2x.webp 2x,\
							./img/projects/Design/design-8@3x.webp 3x\
							" media="(min-width: 1024px)")
							img.tabs__img(src="./img/projects/Design/design-8.webp" loading="lazy" width="300" height="500" alt="Design example")
			button.tabs__btn-show-more.btn-style(type="button") Show more