<section class="projects" id="projects">
	<div class="container">
		<div class="tabs">
			<div class="projects__inner">
				<div class="projects__content">
					<span class="projects__notes decor-text-style">Our project</span>
					<h2 class="projects__title title-style">Our Latest Projects</h2>
				</div>
				<nav class="tabs__nav">
					<button type="button" class="tabs__btn tabs-btn-style tabs-btn-style--active">All</button>
					<button type="button" class="tabs__btn tabs-btn-style">Architecture</button>
					<button type="button" class="tabs__btn tabs-btn-style">Construction</button>
					<button type="button" class="tabs__btn tabs-btn-style">Interior Design</button>
				</nav>
			</div>
			<div class="tabs__wrapper">
				<ul class="tabs__content tabs__content--active">
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-1.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-2.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-3.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-4.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-5.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-6.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-7.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/All/projects-example-8.webp" width="300" height="500" alt="Design example" />
					</li>
				</ul>
				<ul class="tabs__content">
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-1.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-2.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-3.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-4.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-5.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-6.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-7.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Architecture/architecture-8.webp" width="300" height="500" alt="Design example" />
					</li>
				</ul>
				<ul class="tabs__content">
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-1.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-2.webp" width="300" height="504" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-3.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-4.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-5.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-6.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-7.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Construction/construction-8.webp" width="300" height="500" alt="Design example" />
					</li>
				</ul>
				<ul class="tabs__content">
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-1.webp" width="308" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-2.webp" width="306" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-3.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-4.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-5.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-6.webp" width="300" height="500" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-7.webp" width="300" height="502" alt="Design example" />
					</li>
					<li class="tabs__item">
						<img class="tabs__img" src="./img/projects/Design/design-8.webp" width="300" height="500" alt="Design example" />
					</li>
				</ul>
			</div>
			<button type="button" class="tabs__btn-show-more btn-style">Show more</button>
		</div>
	</div>
</section>
