$color-bright: #ffffff;
$color-gray: #abaeb7;
$color-gray-footer: #d7e0e1;
$color-highlight: #ffc978;
$color-decor: #ffb077;
$color-bg: #1a1d26;

//? Плохие названия, нужно что-то типа color-text color-title color-bg и т.д

