//* header btn
.btn-style {
	border: 1px solid $color-bright;
	font-family: $font-family-base;
	font-size: $size-text;
	color: $color-bright;
	font-weight: 500;
	background-color: transparent;
	text-transform: uppercase;
	cursor: pointer;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

	&:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-color: $color-decor;
		outline-offset: 6px;
	}

	@media (any-hover: hover) {
		&:hover {
			background-color: $color-bright;
			color: $color-bg;
		}
	}

	&:active {
		background-color: darken($color-bright, 50%);
	}
}

//* project tabs button
.tabs-btn-style {
	font-family: $font-family-base;
	font-size: clamp-px(12, 16, 320, 475);
	line-height: 26px;
	color: $color-gray;
	font-weight: 600;
	background-color: transparent;
	transition: color 0.3s ease-in-out;
	position: relative;

	&::after {
		content: "";
		position: absolute;
		left: -7%;
		bottom: -2px;
		width: 115%;
		height: 2px;
		background-color: $color-decor;
		visibility: hidden;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
	}

	&--active {
		color: $color-decor;
		position: relative;
	}

	&--active::after {
		opacity: 1;
		visibility: visible;
	}

	&:focus-visible {
		outline-width: 3px;
		outline-style: solid;
		outline-color: $color-decor;
		outline-offset: 1.5px;
	}

	&:focus-visible::after {
		content: none;
	}

	@media (any-hover: hover) {
		&:hover:not(&--active) {
			color: $color-bright;
		}
	}
}
