html {
	scroll-behavior: smooth;
}

body {
	line-height: 1.4;
	background-color: $color-bg;
	box-sizing: border-box;
	background-image: url(../img/bg.webp);
}

.container {
	max-width: 1320px;
	padding: 0 15px;
	margin: 0 auto;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 30px;
}

.is-hidden {
	overflow: hidden;
}

