<section class="hero">
	<div class="hero__container hero__inner">
		<div class="hero__content">
			<span class="hero__decor-text decor-text-style">Architecture design</span>
			<h1 class="hero__title title-hero-style">
				Professional
				<br />
				Interior Design
			</h1>
			<p class="hero__descr descr-style">
				Design for now with the awareness of yesterday and unknown tomorrow.
				Because small details make the perfect design. Helping you choose between
				good and best.
			</p>
			<a href="#team" class="hero__link btn-style">Let’s work together</a>
		</div>
		<div class="hero__image-box">
			<picture>
				<source
					type="image/webp"
					srcset="./img/hero/hero@2x.webp 2x, ./img/hero/hero@3x.webp 3x"
					media="(min-width: 1024px)"
				/>
				<img
					class="hero__img"
					src="./img/hero/hero@0.5x.webp"
					width="1071"
					height="1007"
					alt="Hero images"
				/>
			</picture>
		</div>
	</div>
</section>
