.hero {
	margin-bottom: clamp-px(80, 210);

	&__container {
		max-width: 1750px;
		margin: 0 auto;
		padding-left: 15px;
	}

	&__inner {
		display: flex;
		justify-content: space-between;
		gap: clamp-px(40, 70);
	}

	&__content {
		max-width: 680px;
		margin: auto 0;
		flex-shrink: 0;
	}

	&__decor-text {
		display: block;
		margin-bottom: clamp-px(20, 35);
	}

	&__title {
		margin-bottom: 4px;

		position: relative;
		&::after {
			content: "";
			background-image: url(../icons/stars.svg);
			background-repeat: no-repeat;
			width: 34px;
			height: 34px;
			position: absolute;
			top: -30%;
			right: 0;
		}
	}

	&__descr {
		margin-bottom: clamp-px(40, 55);
		max-width: 534px;
	}

	&__link {
		display: inline-block;
		padding: clamp-px(10, 16) clamp-px(25, 30);
		text-transform: capitalize;
	}

	&__image-box {
		height: 100vh;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
